version: '3'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    networks:
    #   - default
      # - stockgpt_default
      - back_default
networks:
  back_default:
    external: true
#   stockgpt_default:
#     external: true

